/* ==========================================
// VARIÁVEIS CSS - CORES E CONFIGURAÇÕES
// ========================================== */

@charset "UTF-8";

:root {
    --cor0: #90AEBF;
    --cor1: #D1DDE4;
    --cor2: #102E40;
    --cor3: #2D546A;
    --cor4: #577E95;
}
